.nb-slider {
  position: relative;
  float: left;
  margin-left: 15px;
  width: 88%;
  height: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 100em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.nb-slider .ui-slider-range {
  height: 5px;
  background: #2196F3;
  border-radius: 15px;
}

.nb-slider .ui-slider-handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
  background: #1e88e5;
  padding-top: 3px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  z-index: 2;
  width: 50px;
  height: 24px;
  margin-left: -25px;
  color: #fff;
  border-radius: 100em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.nb-slider #tooltip {
  position: absolute;
}

.customize-control-radio-image .image.ui-buttonset input[type=radio] {
  height: auto;
}

.customize-control-radio-image .image.ui-buttonset label {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
}

.customize-control-radio-image .image.ui-buttonset label.ui-state-active {
  border: 1px solid #1e88e5;
}

.customize-control-radio-image .image.ui-buttonset label.ui-state-active img {
  opacity: 1;
}

.customize-control-radio-image .image.ui-buttonset label.ui-state-hover img {
  opacity: 1;
}

.customize-control-radio-image .image.ui-buttonset label img {
  vertical-align: middle;
  transition: all .5s ease;
  opacity: 0.5;
  height: auto;
}

.customize-control-radio-image .image.ui-buttonset .customize-control-radio-buttonset label {
  padding: 5px 10px;
  background: #f7f7f7;
  line-height: 35px;
}

.customize-control-radio-image .image.ui-buttonset .customize-control-radio-buttonset label.ui-corner-left {
  border-radius: 3px 0 0 3px;
  border-left: 0;
}

.customize-control-radio-image .image.ui-buttonset .customize-control-radio-buttonset label.ui-corner-right {
  border-radius: 0 3px 3px 0;
}

.customize-control-radio-image label.ui-button {
  height: auto;
}

.customize-control-radio-image .image-select-wrap {
  display: inline-block;
}

.customize-control-checkbox label {
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 28px;
}

.onoffswitch {
  position: relative;
  width: 40px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none !important;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 18px;
  padding: 0;
  line-height: 18px;
  border: 1px solid #f2f2f2;
  border-radius: 18px;
  background-color: #9E9E9E;
  transition: background-color 0.2s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 18px;
  margin: 0;
  background: #EBEBEB;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 2px solid #9E9E9E;
  border-radius: 18px;
  transition: all 0.2s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #1e88e5;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #1e88e5;
  right: 0;
}

.customize-control-switch .customize-control-title {
  float: left;
}

.customize-control-switch .onoffswitch {
  float: right;
  margin-top: 2px;
}

.control-switch-wrap:before,
.control-switch-wrap:after {
  content: "";
  display: table;
}

.control-switch-wrap:after {
  clear: both;
}

.customize-control-checkbox-multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 15px;
}

.customize-control-checkbox-multiple input[type="checkbox"] {
  display: none;
}

.customize-control-checkbox-multiple input[type="checkbox"].active + i {
  background: #e9e9e9;
  box-shadow: 0 0 0 1px #fff inset;
}

.customize-control-checkbox-multiple > li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

.customize-control-checkbox-multiple > li:not(:last-child) i {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 3px;
  height: 19px;
  line-height: 19px;
  margin-right: 7px;
  margin-top: 1px;
}

.customize-control-checkbox-multiple select {
  height: 34px;
  min-width: 128px;
  border-radius: 3px;
  border-color: #ccc;
}

.customize-control-checkbox-multiple select[name="fonts-weight"] option {
  display: none;
}

.customize-control-typography .nb-select {
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
}

.customize-control-typography .nb-select:focus {
  outline: none;
}

.customize-control-typography .chosen-container {
  margin-bottom: 15px;
  width: 100% !important;
}

.customize-control-typography .chosen-single {
  border: 1px solid #ddd;
  border-radius: 0;
  padding-left: 12px;
  background: #fff;
}

.customize-control-typography .chosen-single div {
  display: none;
}

.customize-control-typography .chosen-single:focus {
  outline: none;
}

.customize-control-typography .nb-select-type-wrap:after,
.customize-control-typography .nb-select-standard-wrap:after,
.customize-control-typography .chosen-single:after {
  content: '\f107';
  font-family: 'fontello';
  position: absolute;
  right: 12px;
}

.customize-control-typography .nb-select-type-wrap,
.customize-control-typography .nb-select-standard-wrap {
  position: relative;
}

.customize-control-typography .nb-select-type-wrap:after,
.customize-control-typography .nb-select-standard-wrap:after {
  top: 9px;
}

.customize-control-typography .chosen-single:after {
  top: 0;
}

.customize-control-typography .chosen-search input {
  background: #fff;
}

.customize-control-typography .nb-custom-fonts,
.customize-control-typography .nb-select-standard-wrap,
.customize-control-typography .google-fonts-wrap {
  display: none;
}

.nb-custom-fonts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nb-custom-fonts .custom-font-info {
  font-style: italic;
  background: #1e88e5;
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.nb-custom-fonts .custom-font-message {
  width: 100%;
  font-style: italic;
  display: none;
}

.nb-custom-fonts .button {
  width: 100%;
  height: 35px;
}

.color-control-wrap {
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.color-control-wrap .sp-replacer {
  border: 0;
  padding: 0;
}

.color-control-wrap .sp-preview {
  border: 0;
  margin: 0;
  width: 38px;
  height: 38px;
}

.sp-replacer .sp-dd {
  display: none;
}

.color-control-wrap #default {
  vertical-align: middle;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.color-control-wrap #default:focus {
  outline: 0;
}

.color-control-wrap #color-placeholder,
.color-control-wrap #default {
  background-color: rgba(0, 0, 0, 0.19);
  padding: 10px;
  color: #fff;
}

.color-control-wrap #color-placeholder {
  min-width: 60px;
  text-align: center;
}

.customize-control-heading .description span {
  background: #1e88e5;
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
  text-transform: uppercase;
  font-size: 10px;
}

.customize-control-heading h2 {
  margin-left: -12px;
  margin-right: -12px;
  background: #1e88e5;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.customize-control-focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.focus-section {
  display: inline-block;
  background: #1e88e5;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.focus-section:hover {
  color: #fff;
}

#customize-controls img {
  vertical-align: middle;
}

.customize-control {
  margin-bottom: 20px;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {
  overflow: inherit;
}

.customize-control-title {
  text-transform: uppercase;
  font-size: 12px;
}

.customize-control input[type="text"],
.customize-control input[type="number"],
.customize-control select {
  min-height: 35px;
}